        <footer>
            <hr class="m-0">
            <!-- Copyright -->
            <div class="text-center">
                <p class="m-4">
                    © 2019 Copyright | Developed by
                    <a href="http://bit.ly/VinitBlog">Vinit Khandelwal</a>
                </p>
            </div>
            <!-- Copyright -->    
        </footer>
    </body>
</html>