        <footer class="mt-4">
            <hr>
            <!-- Copyright -->
            <div class="text-center">
                <p>
                    © 2019 Copyright | Developed by
                    <a href="https://www.vinitkhandelwal.com/">Vinit Khandelwal</a>
                </p>
                <p class="small">
                    Products sold on this page are sold by sellers and not by MOMnPOP. Entire responsibility of the products sold is of the seller. MOMnPOP is not responsible for any items sold on this page.
                </p>
            </div>
            <!-- Copyright -->    
        </footer>
    </body>
</html>